
@media (min-width: 768px) {

	.navbar-expand .navbar-toggler {
		display: none;
	}
	
	.sidebar:not(.show) {
		display: none;
	}
	
	.sidebar:not(.show) + .page-wrapper {
		left: 0;
	}

}

.card {
  border: unset;
  border-bottom: 1px solid #D2D4DF;
}

.form-fields {
  box-sizing: unset;
}

.page-wrapper {
	padding-top: 0;
	top: unset;
	left: unset;
	position: static;
}

.page-wrapper .page-content {
	padding-top: 0;
	top: unset;
	left: unset;
	position: static;
}

.thoughtco_printerbar {
	display: none !important;
}

body {
      background-color: #000000;
}

.row {
      width: 100%;
}
